/* ========== FONTS ========== */
/* === Poppins === */
@font-face {
  font-family: "poppins-regular";
  src: url("../Fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins-semiBold";
  src: url("../Fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "poppins-medium";
  src: url("../Fonts/Poppins/Poppins-Medium.ttf");
}

/* === Tinos === */
@font-face {
  font-family: "tinos-bold";
  src: url("../Fonts/Tinos/Tinos-Bold.ttf");
}

/* === Raleway === */
@font-face {
  font-family: "raleway-bold";
  src: url("../Fonts/Raleway/Raleway-Bold.ttf");
}

/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard */
}
